<button class="workspace-button" (click)="openInviteDialog()">
  <i class="pi pi-sitemap"></i> {{ buttonText }}
</button>

<p-dialog
  [(visible)]="showInviteDialog"
  modal="true"
  [style]="{ width: '400px' }"
  header="Invite Colleague"
  [closable]="true"
  [dismissableMask]="true"
>
  <div class="form-group">
    <label for="inviteEmail" class="form-label">Email</label>
    <input
      id="inviteEmail"
      pInputText
      [(ngModel)]="inviteEmail"
      placeholder="e.g. michaelz@gmail.com"
      class="form-input mb-3"
      [ngClass]="{ 'p-invalid': inviteEmail && !isValidEmail(inviteEmail) }"
    />
  </div>
  <small *ngIf="inviteEmail && !isValidEmail(inviteEmail)" class="p-error">
    Please enter a valid email.
  </small>

  <ng-template pTemplate="footer">
    <button
      pButton
      label="Invite"
      icon="pi pi-check"
      class="p-button-primary"
      [disabled]="!isValidEmail(inviteEmail)"
      (click)="sendInvite()"
    ></button>
  </ng-template>
</p-dialog>
